@font-face {
	font-family: 'Dosis';
	src: url('/font/Dosis-Light.ttf');
	font-weight: normal;
    font-style: normal;
}

body{
    background-color: #2F323B;
}

div{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 1.5%;
    background-color: #45464A;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFD;
    border-radius: 2px;
}

div#packages {
    left: 1.5%;
}

div#weather {
    left: 33.33%;
}