@font-face {
	font-family: 'Dosis';
	src: url('/font/Dosis-Light.ttf');
	font-weight: normal;
    font-style: normal;
}

body{
    background-color: #2F323B;
}

div{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 3%;
    background-color: #45464A;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFD;
    border-radius: 2px;
}

div#packages {
    left: 3%;
}

div#weather {
    left: 35%;
}

div#subway {
    right: 3%;
}